@use "../global/mixin.scss" as *;
@use "../global/variables.scss";

.slider-list__item {
  display: none;

  &--active {
    display: block;
    overflow-anchor: none;

    @media (min-width: variables.$tablet-width) {
      padding: 0 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 0 40px 0 65px;
      display: grid;
      grid-template-columns: 600px auto;
      grid-template-rows: 120px auto;
      align-items: flex-start;
      gap: 30px;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: calc(-50vw + 50%);
    z-index: -1;
    width: 100vw;
    height: 100%;
    content: "";

    @media (min-width: variables.$tablet-width) {
      height: calc(100% - 193px);
    }

    @media (min-width: variables.$desktop-width) {
      height: 100%;
    }
  }

  &--background-1::before {
    background-color: #f3ebe1;
  }

  &--background-2::before {
    background-color: #eae6fc;
  }

  &--background-3::before {
    background-color: #e5e6e8;
  }
}

.slider-list__picture-wrapper {
  display: flex;
  justify-content: center;
  order: 5;

  @media (min-width: variables.$desktop-width) {
    grid-column: 1;
    grid-row: 1/-1;
  }
}

.slider-list__content-wrapper {
  @media (min-width: variables.$desktop-width) {
    grid-column: 2;
    grid-row: 2;
  }
}

.slider-list__image {
  margin: 0 0 5px;
  object-fit: contain;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    width: 476px;
    height: 476px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slider-list__title {
  margin: 0 0 10px;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;
  }
}

.slider-list__badge {
  @include badge;
  margin: 0 auto 4px;
  padding: 0;
  text-align: center;

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 4px;
    text-align: left;
  }
}

.slider-list__description {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  min-height: 100px;

  @media (min-width: variables.$tablet-width) {
    max-width: 590px;
    font-size: 20px;
    line-height: 32px;
    min-height: auto;
  }

  br {
    display: none;

    @media (min-width: variables.$tablet-width) {
      display: inline;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 40px;
    max-width: 625px;
    text-align: left;
  }
}

.slider-list__description-repositioned {
  @media (min-width: variables.$tablet-width) {
    transform: translateX(3px);
    display: inline-block;
  }

  @media (min-width: variables.$desktop-width) {
    transform: translate(0);
    display: inline;
  }
}

.slider-list__order-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 16px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
}

.slider-list__price {
  padding: 4px 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  min-width: 100px;
  max-width: 120px;
}

.slider-list__old-price {
  transform: translateY(2px);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: variables.$main-color-2;
  text-decoration-line: line-through;
}

.slider-list__new-price {
  @include new-price;
  min-width: 52px;
}

.slider-list__button.button {
  width: 113px;

  @media (min-width: variables.$tablet-width) {
    padding: 9px 20px 7px 20px;
  }

  @media (min-width: variables.$desktop-width) {
    transform: translateX(1px);
  }
}

